version: 3.2.{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore
build:
  verbosity: minimal
after_build:
- ps: >-
    nuget pack Elmah.Io.nuspec -Version $env:APPVEYOR_BUILD_VERSION -Properties Configuration=Release

    nuget pack Elmah.Io.AspNet.nuspec -Version $env:APPVEYOR_BUILD_VERSION -Properties Configuration=Release

    nuget pack Elmah.Io.Mvc.nuspec -Version $env:APPVEYOR_BUILD_VERSION -Properties Configuration=Release

    nuget pack Elmah.Io.WebApi.nuspec -Version $env:APPVEYOR_BUILD_VERSION -Properties Configuration=Release
artifacts:
- path: '*.nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: F5CTc3/bSmMHKRW3d4pOSQu5roNE4RNb4wspqcdWDt8nCd3x2hR7nDAYEywofdn+