<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Io.Client" version="3.8.83-pre" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>